@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider

<a class="btn btn-primary login-button" asp-action="SignInLocal">Local</a>

@foreach (var provider in await schemeProvider.GetRequestHandlerSchemesAsync())
{
    <a class="btn btn-primary login-button" asp-action="SignIn"
       asp-route-provider="@provider.Name"
       asp-route-returnUrl="@Context.Request.Query["returnUrl"]">@provider.DisplayName</a>
}